.idea
.log 
*.suo
*.user
TestResult
bin
obj
article
ManagedDesigns.RealWorldCqrs.Core/UiSimulator.cs
ManagedDesigns.RealWorldCqrs.Core/Program.cs
ManagedDesigns.RealWorldCqrs.Core/app.config
packages/*
!packages/repositories.config